<h1>Toy App</h1>

<%= link_to "Add New Post", posts_new_path %>

<% @posts.each do |post| %>
    <p>
       [<%= post.id %>] <%= post.title %>
    </p>
    <p>
       <%= post.body %>
    </p>

    <%= link_to "Show", post %>
    <%= link_to "Edit", edit_post_path(post) %>
    <%= link_to "Destroy", delete_post_path(post), method: :delete %>
<% end %> 


